<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="glgc.jjgys.system.mapper.JjgFbgcSdgcCqhdMapper">

    <select id="selectsdmc" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT DISTINCT sdmc from jjg_fbgc_sdgc_cqhd  where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc}
    </select>

    <select id="selectcd" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT zgy1,zgy2,zgy3 from jjg_fbgc_sdgc_cqhd  where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and sdmc=#{sdmc}

    </select>

    <select id="selectwz" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT wz from jjg_fbgc_sdgc_cqhd  where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and sdmc=#{sdmc}
    </select>

</mapper>
