<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="glgc.jjgys.system.mapper.JjgFbgcLmgcLqlmysdMapper">

    <select id="selectnum" resultType="java.lang.Integer" parameterType="java.lang.String">
        select COUNT(DISTINCT(zh)) FROM jjg_fbgc_lmgc_lqlmysd where proname = #{proname} and htd = #{htd}
    </select>

    <select id="selectsffl" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT DISTINCT(sffl) FROM jjg_fbgc_lmgc_lqlmysd
        WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc}
    </select>

    <select id="selectzd" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd
        WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc}
        and lqs not like '%隧道%' and lqs not like '%连接线%' and left(zh,1) not like 'Z' and left(zh,1) not like 'Y' order by zh
    </select>


    <select id="selectljx" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd
        WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc}
        and lqs like '%连接线%' and lqs not like '%隧道%' order by zh
    </select>

    <select id="selectljxsd" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd
        WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc}
        and lqs like '%连接线%' and lqs like '%隧道%' order by zh
    </select>

    <select id="selectzxsmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and cw='上面层' and zh LIKE 'Z%' ORDER BY zh asc
    </select>

    <select id="selectzxzxmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh LIKE 'Z%'
                                              and id not in(SELECT id FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh LIKE 'Z%' and cw='上面层')
        ORDER BY zh asc
    </select>

    <select id="selectzxyfsmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and cw='上面层' and zh LIKE 'Y%' ORDER BY zh asc
    </select>

    <select id="selectzxyfzxmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh LIKE 'Y%'
                                              and id not in(SELECT id FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh LIKE 'Y%' and cw='上面层')
        ORDER BY zh asc
    </select>

    <select id="selectsdzfsmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and cw='上面层' and zh LIKE 'Z%' and lqs LIKE '%隧道%' ORDER BY zh asc
    </select>

    <select id="selectsdyfsmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and cw='上面层' and zh LIKE 'Y%' and lqs LIKE '%隧道%' ORDER BY zh asc
    </select>

    <select id="selectsdzfzxmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh LIKE 'Z%' and lqs LIKE '%隧道%' and id not in(SELECT id FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh LIKE 'Z%' and cw='上面层' and lqs LIKE '%隧道%')
        ORDER BY zh asc
    </select>

    <select id="selectsdyfzxmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh LIKE 'Y%' and lqs LIKE '%隧道%' and id not in(SELECT id FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh LIKE 'Y%' and cw='上面层' and lqs LIKE '%隧道%')
        ORDER BY zh asc
    </select>

    <select id="selectzdsmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh not LIKE 'Z%' and zh not LIKE 'Y%' and cw='上面层' and lqs not like '%隧道%' and lqs not like '%连接线%'
        order by zh
    </select>

    <select id="selectzdsxmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc}
                                              and zh not LIKE 'Z%' and zh not LIKE 'Y%'  and lqs not like '%隧道%' and lqs not like '%连接线%'
                                              and id not in(
                SELECT id FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc}
                                                       and zh not LIKE 'Z%' and zh not LIKE 'Y%' and cw='上面层' and lqs not like '%隧道%' and lqs not like '%连接线%'
            )
        order by zh

    </select>

    <select id="selectljxsmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh not LIKE 'Z%' and zh not LIKE 'Y%'
                                              and cw='上面层'
                                              and lqs not like '%隧道%' and lqs like '%连接线%'
        order by zh
    </select>

    <select id="selectljxzxmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh not LIKE 'Z%' and zh not LIKE 'Y%'
                                              and lqs not like '%隧道%' and lqs like '%连接线%'
                                              and id not in(
                SELECT id FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh not LIKE 'Z%' and zh not LIKE 'Y%'
                                                       and cw='上面层'
                                                       and lqs not like '%隧道%' and lqs like '%连接线%'
            )
        order by zh

    </select>

    <select id="selectljxsdsmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh not LIKE 'Z%' and zh not LIKE 'Y%'
                                              and cw='上面层' and lqs  like '%隧道%' and lqs like '%连接线%'
        order by zh

    </select>

    <select id="selectljxsdzxmc" resultType="glgc.jjgys.model.project.JjgFbgcLmgcLqlmysd" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh not LIKE 'Z%' and zh not LIKE 'Y%'
                                              and id not in(
                SELECT id FROM jjg_fbgc_lmgc_lqlmysd WHERE proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and zh not LIKE 'Z%' and zh not LIKE 'Y%'
                                                       and cw='上面层'
                                                       and lqs  like '%隧道%' and lqs like '%连接线%'
            )
                                              and lqs  like '%隧道%' and lqs like '%连接线%'
        order by zh

    </select>

</mapper>
