<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="glgc.jjgys.system.mapper.JjgFbgcJtaqssJathldmccMapper">

    <select id="selectyxpc" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT DISTINCT yxwcz,yxwcf FROM jjg_fbgc_jtaqss_jathldmcc
        WHERE proname = #{proname} and htd = #{htd}
    </select>

    <select id="selectnum" resultType="java.lang.Integer" parameterType="java.lang.String">
        select COUNT(DISTINCT(zh)) FROM jjg_fbgc_jtaqss_jathldmcc where proname = #{proname} and htd = #{htd}
    </select>

</mapper>
