<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="glgc.jjgys.system.mapper.JjgFbgcQlgcQmpzdMapper">

    <select id="selectqlmc" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT DISTINCT qm from jjg_fbgc_qlgc_qmpzd  where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc}
    </select>

    <select id="selectqlmc2" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT DISTINCT qm from jjg_fbgc_qlgc_qmpzd  where proname = #{proname} and htd = #{htd}
    </select>

</mapper>
