<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="glgc.jjgys.system.mapper.JjgFbgcLmgcGslqlmhdzxfMapper">

    <select id="selectzxzf" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and lx = '路'  AND zh Like 'Z%'  order by zh
    </select>

    <select id="selectzxyf" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and lx = '路'  AND zh Like 'Y%'  order by zh
    </select>


    <select id="selectsdzf" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and lx = '隧'  AND zh Like 'Z%'  order by zh
    </select>


    <select id="selectsdyf" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and lx = '隧'  AND zh Like 'Y%'  order by zh
    </select>


    <select id="selectqlzf" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and
            lx = '桥'  AND zh Like 'Z%' order by zh
    </select>


    <select id="selectqlyf" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and
            lx = '桥'  AND zh Like 'Y%' order by zh
    </select>


    <select id="selectzd" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and
            lx like '匝道' order by zh
    </select>

    <select id="selectljx" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and
            lx like '%连接线%' and lx not like '%连接线桥%' and lx not like '%连接线隧道%' order by zh
    </select>

    <select id="selectljxq" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and
            lx like '%连接线桥%' order by zh
    </select>

    <select id="selectljxsd" resultType="glgc.jjgys.model.project.JjgFbgcLmgcGslqlmhdzxf" parameterType="java.lang.String">
        SELECT * FROM jjg_fbgc_lmgc_gslqlmhdzxf where proname = #{proname} and htd = #{htd} and fbgc= #{fbgc} and
            lx like '%连接线隧道%' order by zh
    </select>

</mapper>
