<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="glgc.jjgys.system.mapper.JjgLqsSdMapper">

    <resultMap id="sdMap" type="glgc.jjgys.model.project.JjgLqsSd">
        <result column="name" property="sdname"/>
    </resultMap>

    <select id="selectsdzf" resultMap="sdMap" parameterType="java.lang.String">
        SELECT * FROM jjg_lqs_sd where proname = #{proname} and zhq >=#{htdzhq} and zhz &lt;= #{htdzhz} and lf = #{lf} and wz='主线' ORDER BY zhq
    </select>

    <select id="selectsdyf" resultMap="sdMap" parameterType="java.lang.String">
        SELECT * FROM jjg_lqs_sd where proname = #{proname} and zhq >=#{htdzhq} and zhz &lt;= #{htdzhz} and lf = #{lf} and wz='主线' ORDER BY zhq
    </select>

    <select id="selectsdList" resultMap="sdMap" parameterType="java.lang.String">
        SELECT * FROM jjg_lqs_sd where proname = #{proname} and zhq >=#{zhq} and zhz &lt;= #{zhz} and zdbz=#{bz} and wz=#{wz} and lf=#{zdlf} ORDER BY zhq
    </select>

    <select id="selectsd" resultMap="sdMap" parameterType="java.lang.String">
        SELECT * FROM jjg_lqs_sd where proname = #{proname} and zhq >=#{htdzhq} and zhz &lt;= #{htdzhz} and wz='主线' ORDER BY zhq
    </select>

    <select id="getsdName" resultMap="sdMap" parameterType="java.lang.String">
        SELECT * FROM jjg_lqs_sd where proname = #{proname} and htd = #{htd}
    </select>

</mapper>
