<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="glgc.jjgys.system.mapper.JjgZdhLdhdMapper">

    <select id="selectcdnum" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(DISTINCT val) from jjg_zdh_ldhd where proname = #{proname} and htd = #{htd} and lxbs=#{zx}
    </select>

    <select id="selectlx" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT DISTINCT lxbs from jjg_zdh_ldhd  where proname = #{proname} and htd = #{htd}
    </select>

    <select id="selectzfList" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT *, concat(#{zx}, '左幅') as name from jjg_zdh_ldhd where proname = #{proname} and htd = #{htd} and cd LIKE '左幅%' and lxbs = #{zx} ORDER BY zdbs,zh,FIELD(cd, ${result})
    </select>

    <select id="selectyfList" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT *,concat(#{zx}, '右幅') as name  from jjg_zdh_ldhd where proname = #{proname} and htd = #{htd} and cd LIKE '右幅%' and lxbs = #{zx} ORDER BY zdbs,zh,FIELD(cd, ${result})
    </select>

    <select id="selectSdZfData" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT mcxs.*,sd.name from (SELECT * from jjg_zdh_ldhd where proname = #{proname} and htd = #{htd} and cd LIKE '左幅%' and lxbs='主线' and zh >= #{zhq} and zh &lt;= #{zhz}) mcxs
                                       LEFT JOIN (SELECT * FROM jjg_lqs_sd where proname = #{proname} and zhq = #{zhq} and zhz = #{zhz} and lf = '左幅' and wz='主线') sd
                                                 ON mcxs.proname=sd.proname
        ORDER BY mcxs.zh,FIELD(mcxs.cd, ${result})
    </select>

    <select id="selectSdyfData" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT mcxs.*,sd.name from (SELECT * from jjg_zdh_ldhd where proname = #{proname} and htd = #{htd} and cd LIKE '右幅%' and lxbs='主线' and zh >= #{zhq} and zh &lt;= #{zhz}) mcxs
                                       LEFT JOIN (SELECT * FROM jjg_lqs_sd where proname = #{proname} and zhq = #{zhq} and zhz = #{zhz} and lf = '右幅' and wz='主线') sd
                                                 ON mcxs.proname=sd.proname
        ORDER BY mcxs.zh,FIELD(mcxs.cd, ${result})
    </select>


    <select id="selectQlZfData" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT mcxs.*,ql.qlname name from (SELECT * from jjg_zdh_ldhd where proname = #{proname} and htd = #{htd} and cd LIKE '左幅%' and lxbs='主线' and zh >= #{zhq} and zh &lt;= #{zhz}) mcxs
                                              LEFT JOIN (SELECT * FROM jjg_lqs_ql where proname = #{proname} and zhq = #{zhq} and zhz = #{zhz} and lf = '左幅' and wz='主线') ql
                                                        ON mcxs.proname=ql.proname
        ORDER BY mcxs.zh,FIELD(mcxs.cd, ${result})
    </select>

    <select id="selectQlYfData" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT mcxs.*,ql.qlname name from (SELECT * from jjg_zdh_ldhd where proname = #{proname} and htd = #{htd} and cd LIKE '右幅%' and lxbs='主线' and zh >= #{zhq} and zh &lt;= #{zhz}) mcxs
                                              LEFT JOIN (SELECT * FROM jjg_lqs_ql where proname = #{proname} and zhq = #{zhq} and zhz = #{zhz} and lf = '右幅' and wz='主线') ql
                                                        ON mcxs.proname=ql.proname
        ORDER BY mcxs.zh,FIELD(mcxs.cd, ${result})
    </select>

    <select id="seletcfhlmzfData" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT ldhd.*,fhlm.name from (
        SELECT * from jjg_zdh_ldhd where proname = #{proname} and htd = #{htd} and cd LIKE '左幅%' and lxbs='主线' and zh >= #{zhq} and zh &lt;= #{zhz}) ldhd
        LEFT JOIN (SELECT * FROM jjg_lqs_fhlm where proname = #{proname} and zhq = #{zhq} and zhz = #{zhz} and lf = '左幅' ) fhlm
        ON ldhd.proname=fhlm.proname
        ORDER BY ldhd.zh
    </select>
    <select id="seletcfhlmyfData" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT ldhd.*,fhlm.name from (
        SELECT * from jjg_zdh_ldhd where proname = #{proname} and htd = #{htd} and cd LIKE '右幅%' and lxbs='主线' and zh >= #{zhq} and zh &lt;= #{zhz}) ldhd
        LEFT JOIN (SELECT * FROM jjg_lqs_fhlm where proname = #{proname} and zhq = #{zhq} and zhz = #{zhz} and lf = '右幅' ) fhlm
        ON ldhd.proname=fhlm.proname
        ORDER BY ldhd.zh
    </select>

    <select id="selectsdldhd" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT mcxs.*,sd.name from (
        SELECT * from jjg_zdh_ldhd where proname = #{proname} and cd LIKE '${lf}%' and lxbs=#{zx} AND zdbs=#{bz} and zh >= #{sdzhq} and zh &lt;= #{sdzhz}) mcxs
        LEFT JOIN (SELECT * FROM jjg_lqs_sd where proname = #{proname} and zdbz=#{bz}  and zhq = #{sdzhq} and zhz = #{sdzhz} and lf = #{lf} and wz=#{zx}) sd
        ON mcxs.proname=sd.proname
        ORDER BY mcxs.qdzh
    </select>

    <select id="selectqlldhd" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT mcxs.*, ql.qlname name from (
        SELECT * from jjg_zdh_ldhd where proname = #{proname} and cd LIKE '${lf}%' and lxbs=#{zx} AND zdbs=#{bz} and zh >= #{qlzhq} and zh &lt;= #{qlzhz}
        ) mcxs
        LEFT JOIN (SELECT * FROM jjg_lqs_ql where proname = #{proname} and bz=#{bz} and zhq =#{qlzhq} and zhz = #{qlzhz} and lf = #{lf} and wz=#{zx}) ql
        ON mcxs.proname=ql.proname
        ORDER BY mcxs.zh
    </select>

</mapper>
